<!DOCTYPE html>
<html lang="english"
  ><head
    ><title>exported project</title
    ><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  ><body
    ><link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
<div
      ><link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
<div
        class="desktop1-container"
        ><div class="desktop1-desktop1"
          ><div class="desktop1-feedback1"
            ><img
              src="{{ url_for('static', filename='public/external/rectangle212034-8znh-500h.png')}}"
              alt="Rectangle212034"
              class="desktop1-rectangle21"
            /><p class="feedback1-text">"Clear and concise pneumonia info. Very helpful!"</p><div class="desktop1-maskgroup"
              ><img
                src="{{ url_for('static', filename='public/external/ellipse42034-de87-200h.png')}}"
                alt="Ellipse42034"
                class="desktop1-ellipse4" /><img
                src="{{ url_for('static', filename='public/external/screenshot20220509at10281012-kg3h-200h.png')}}"
                alt="ScreenShot20220509at10281012"
                class="desktop1-screen-shot20220509at1028" /></div
            ><span class="desktop1-text"><span>feedback</span></span></div
          ><div class="desktop1-feedback3"
            ><span class="desktop1-text02"><span>feedback</span></span></div
          ><div class="desktop1-feedback2"
            ><img
              src="{{ url_for('static', filename='public/external/rectangle212034-5ytg-500h.png')}}"
              alt="Rectangle212034"
              class="desktop1-rectangle211"
            /><p class="feedback1-text">"Easy to understand medical details. Loved the prevention tips."</p><div class="desktop1-maskgroup1"
              ><img
                src="{{ url_for('static', filename='public/external/ellipse42035-iqca-200h.png')}}"
                alt="Ellipse42035"
                class="desktop1-ellipse41" /></div
            ><span class="desktop1-text04"><span>feedback</span></span></div
          ><div class="desktop1-maskgroup2"
            ><img
              src="{{ url_for('static', filename='public/external/ellipse52036-y2ra-200h.png')}}"
              alt="Ellipse52036"
              class="desktop1-ellipse5" /><img
              src="{{ url_for('static', filename='public/external/screenshot20220509at10281012-2brg-200w.png')}}"
              alt="ScreenShot20220509at10281012"
              class="desktop1-screen-shot20220509at10281" /></div
          ><div class="desktop1-maskgroup3"
            ><img
              src="{{ url_for('static', filename='public/external/ellipse62036-2s1q-200h.png')}}"
              alt="Ellipse62036"
              class="desktop1-ellipse6" /><img
              src="{{ url_for('static', filename='public/external/screenshot20220509at10281012-br6-200w.png')}}"
              alt="ScreenShot20220509at10281012"
              class="desktop1-screen-shot20220509at10282" /><p class="feedback2-text">"Well-organized and informative on pneumonia. Great site!"</p></div
          ><img
            src="{{ url_for('static', filename='public/external/xrays3dicon3dmodelfb6be4f93dremovebg12202-m867-600h.png')}}"
            alt="xrays3dicon3dmodelfb6be4f93dremovebg12202"
            class="desktop1-xrays3dicon3dmodelfb6be4f93dremovebg1"
          /><div class="desktop1-group1"
            ><div class="desktop1-website"
              ><img
                src="{{ url_for('static', filename='public/external/ellipse32031-etrg-800h.png')}}"
                alt="Ellipse32031"
                class="desktop1-ellipse3"
              /><img
                src="{{ url_for('static', filename='public/external/ellipse22031-oqjl.svg')}}"
                alt="Ellipse22031"
                class="desktop1-ellipse2"
              /><div class="desktop1-h3"
                ><div class="desktop1-h1"
                  ><span class="desktop1-text06"
                    ><span
                      >Common Symptoms: Cough (often with phlegm), fever, chills, and difficulty breathing.</span
                    ></span
                  ><span class="desktop1-text08"
                    ><span>Other Symptoms: Chest pain, fatigue, muscle aches, nausea, vomiting, diarrhea, and confusion</span></span
                  ></div
                ><img
                  src="{{ url_for('static', filename='public/external/vector22202-64ik.svg')}}"
                  alt="Vector22202"
                  class="desktop1-vector2" /><img
                  src="{{ url_for('static', filename='public/external/vector12202-oojn.svg')}}"
                  alt="Vector12202"
                  class="desktop1-vector1" /></div
              ><div class="desktop1-h2"
                ><div class="desktop1-h11"
                  ><span class="desktop1-text10"
                    ><span
                      >Prevention includes vaccination, good hygiene, and avoiding smoking.</span
                    ></span
                  ><div class="desktop1-trybutton"
                    ><img
                      src="{{ url_for('static', filename='public/external/rectangle202032-weg9-200h.png')}}"
                      alt="Rectangle202032"
                      class="desktop1-rectangle20"
                    /><span class="desktop1-text12"
                      ><span><a href="/services">Try it</a></span></span
                    ></div
                  ><span class="desktop1-text14"
                    ><span>Vaccination: Get vaccinated against pneumonia-causing pathogens like Streptococcus pneumoniae and Haemophilus influenzae</span></span
                  ></div
                ><div class="desktop1-object-other18"
                  ><img
                    src="{{ url_for('static', filename='public/external/objectother181326-hyla-500w.png')}}"
                    alt="ObjectOther181326"
                    class="desktop1-object-other181" /></div></div
              ><div class="desktop1-h12"
                ><img
                  src="{{ url_for('static', filename='public/external/designer212035-vqod-700w.png')}}"
                  alt="Designer212035"
                  class="desktop1-designer21" /><span class="desktop1-text16"
                  ><span
                    >Pneumonia: lung infection causing cough, fever, and
                    breathing difficulties.</span
                  ></span
                ><div class="desktop1-trybutton1"
                  ><span class="desktop1-text18"><span><a href="/services">Try it</a></span></span></div
                ><span class="desktop1-text20"
                  ><span>Other Symptoms: Chest pain, fatigue, muscle aches, nausea, vomiting, diarrhea, and confusion.</span></span
                ><img
                  src="{{ url_for('static', filename='public/external/rectangle12031-g3zc-200h.png')}}"
                  alt="Rectangle12031"
                  class="desktop1-rectangle1" /></div
              ><div class="desktop1-bot"
                ><img
                  src="{{ url_for('static', filename='public/external/botrectangle2202-5t3-800w.png')}}"
                  alt="botrectangle2202"
                  class="desktop1-botrectangle"
                /><img
                  src="{{ url_for('static', filename='public/external/botrec22202-4p0s-800w.png')}}"
                  alt="botrec22202"
                  class="desktop1-botrec2"
                /><div class="desktop1-navbar"
                  ><span class="desktop1-text22"><span>PneumoCheck</span></span
                  ><span class="desktop1-text24"><span></span></span
                  ><span class="desktop1-text26"><span><a href="index1.html"></a></span></span
                  ><span class="desktop1-text28"><span></span></span
                  ><span class="desktop1-text30"><span><a href="index1.html">Home</a></span></span
                  ><span class="desktop1-text32"><span><a href="/services">Services</a></span></span></div
                ><div class="desktop1-bot2"
                  ><div class="desktop1-socialicons"
                    >
                      <a href="https://www.instagram.com/">
                      <img 
                      src="{{ url_for('static', filename='public/external/iconspopularinstagram2204-5avm.svg')}}"
                      alt="iconspopularinstagram2204"
                      class="desktop1-iconspopularinstagram" />
                      </a>  
                      <a href="https://web.whatsapp.com/">
                      <img
                      src="{{ url_for('static', filename='public/external/socialicons2204-80pk.svg')}}"
                      alt="SocialIcons2204"
                      class="desktop1-social-icons" />
                      </a>
                      <a href="https://twitter.com/">
                      <img
                      src="{{ url_for('static', filename='public/external/socialicons2204-17a2.svg')}}"
                      alt="SocialIcons2204"
                      class="desktop1-social-icons1" />
                      </a>
                      <a href="https://www.linkedin.com/">
                      <img
                      src="{{ url_for('static', filename='public/external/socialicons2204-5x3.svg')}}"
                      alt="SocialIcons2204"
                      class="desktop1-social-icons2" />
                      </a>
                      <a href="https://web.telegram.org/">
                      <img
                      src="{{ url_for('static', filename='public/external/socialicons2204-8fmj.svg')}}"
                      alt="SocialIcons2204"
                      class="desktop1-social-icons3" />
                      </a></div
                  ><span class="desktop1-text34"
                    ><span
                      >To Know The Latest News And Updates, Enter Your Email So
                      That We Can Contact You</span
                    ></span
                  ><img
                    src="{{ url_for('static', filename='public/external/rectangle332204-kgtwg-200h.png')}}"
                    alt="Rectangle332204"
                    class="desktop1-rectangle33"
                  /><span class="desktop1-text36"
                    ><input type="email" id="email"class="input-field" placeholder="         Enter your email"></span
                  ><img
                    src="{{ url_for('static', filename='public/external/rectangle342204-a297-200h.png')}}"
                    alt="Rectangle342204"
                    class="desktop1-rectangle34"
                  /><span class="desktop1-text38"><button id="subscribeButton">Subscribe</button></span
                  >
                  <span class="success-message" id="successMessage">Subscription successful!</span>
                  {% raw %}
                  <script src>
                    
                    document.getElementById('subscribeButton').addEventListener('click', function(event) {
                      var email = document.getElementById('email').value;
                      setTimeout(function() {
                    document.getElementById('successMessage').style.display = 'block';
                    document.getElementById('email').value = '';
                    }, 1000);
                     event.preventDefault();
                    });
                    
                  </script>
                  {% endraw %}
                  <img
                    src="{{ url_for('static', filename='public/external/subtract2204-obgo.svg')}}"
                    alt="Subtract2204"
                    class="desktop1-subtract"
                  /><span class="desktop1-text40"
                    ><span>Contact Us:</span></span
                  ></div
                ></div
              ><div class="desktop1-navbar1"
                ><span class="desktop1-text42"><span>PneumoCheck</span></span
                ><span class="desktop1-text44"><span><a href="/">Home</a></span></span
                ><span class="desktop1-text46"><span></span></span
                ><span class="desktop1-text48"><span></span></span
                ><span class="desktop1-text50"><span><a href="/services">Services</a></span></span></div
              ><span class="desktop1-text52"><span>Pneumonia</span></span
              ><span class="desktop1-text54"><span>feedback</span></span
              ><span class="desktop1-text56"
                ><span>Read what others have to say</span></span
              ></div
            ></div
          ></div
        ></div
      ></div
    >
  </body></html
>
